
*{
	color:black;
}

h1{
	font-size: 20px;
}

h2{
	font-size: 18px;
}

a{
	text-decoration: unset;
}

body{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 16px;
	background-color: white ; 
	max-width: 700px;
    margin: 15px auto 15px auto; 
    padding: 0px 15px 0px 15px;
}

#header{
	display: inline-flex;
	justify-content: center;
	border: black 1px solid;
	margin-bottom: 20px;
	box-shadow: gray 2px 2px 2px;
	border-radius: 4px;
}

#logo{
	width:9%;
	background-color: #ccffcc;
	border-radius: 15px;
}

#main-title{
	padding: 5px 10px 0px 10px;
}

#navbar{
	display: flex;
	justify-content: space-between;
	background-color: #ccffcc;
	padding: 10px;
	border-radius: 8px;
}

#navbar a{
	text-align: center;
	width: 25%;
	padding: 10px;

}

#navbar a:hover{
	background-color: #b3ffb3;
	border-radius: 5px;
}

.main-news{
	border: gray 1px solid;
	box-shadow: gray 2px 2px 3px;
	margin: 15px 0px 15px 0px;
	padding: 0px 10px 0px 10px;
	border-radius: 5px;
}

.title-news{
	display: inline-flex;
}

#icon-news{ 
	font-size: 35px;
	color: #99ff99;
	padding: 10px 10px 10px 0px; 
} 

.content-news{
	display: inline-flex;;
	font-size: 16px;
	margin-bottom: 15px;
}

.content-news img{
	max-width: 100%;
	max-height: 100%;
	margin-bottom: 15px;
}

.content-news p{
	max-width: 50%;
	height: 50%;  
	text-align: left;
	margin: 0px 15px 0px 15px;
}

.content-video{
	display: flex;
	width: 100%; 
	margin: 0px 0px 10px 0px;
}

#links{
	margin: 0px;
	padding-left: 35px; 
}

#links li{
	list-style: none;
}

#links a{
	display: flex;
	padding: 20px 0px 20px 0px;
}

#links a:hover {
  	background-color: #ccffcc; 
  	border-radius: 5px; 
} 


#title-other{ 
	display: inline-flex;
	margin-top: 15px;
	margin-left: 30px;
}

#about-body{
	display: inline-flex;
	margin-left: 30px;
}

#about-content{
	font-size: 14px;
	margin: 0px 10px 10px 10px;
}

#about-content h3{
	text-align: center;
	font-size: 18px;
	margin: 0px;
}

#about-social{
	text-align: center;
}

#about-social a img{
	width:10%;
}

#forms{
	height: 100%;
}

#frame-forms{
	font-size: 20px;
} 

